nav {
  align-items: center;
  position: relative;
  background: #835afd;
  color: #FFFFFF;
  .logo {
    margin-left: 1.5rem;
    h1 {
      background: #6c757d;
      font-size: 2.5rem !important;
    }
  }
}
